<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BTProgressHUD" version="1.2.0.5" targetFramework="xamarinios10" />
  <package id="Cirrious.FluentLayout" version="2.5.0" targetFramework="xamarinios10" />
  <package id="iOSCharts" version="3.0.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="SidebarNavigation" version="1.9.3" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.5.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="3.7.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.Core" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.CoreAudio" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.CoreData" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.CoreGraphics" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.CoreImage" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.CoreMedia" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.Darwin" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.Dispatch" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.Foundation" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.ObjectiveC" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.OS" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.QuartzCore" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift3.UIKit" version="3.1.0" targetFramework="xamarinios10" />
</packages>